VITE_YNX_API_BASE_URL=https://rpc.ynxweb4.com
VITE_YNX_EVM_RPC_URL=https://evm.ynxweb4.com
VITE_YNX_EXPLORER_URL=https://explorer.ynxweb4.com
VITE_YNX_FAUCET_URL=https://faucet.ynxweb4.com
VITE_YNX_DOCS_URL=/docs
VITE_YNX_GRANT_URL=
VITE_YNX_ECOSYSTEM_URL=
VITE_YNX_EXCHANGE_URL=
